body {
  font-family: Monospace;
  margin: 0px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;

  background: rgba(8, 8, 8, 1.0);
  /* background-image: radial-gradient(rgba(253, 250, 250, 0.1) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#canvas {
  background-color: #000;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 100px;
  padding: 0px;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.0);
}

#landing_page_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.0);
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5)
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(43, 47, 58);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(43, 47, 58);
}

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4)
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

html {
	scroll-behavior: smooth;
}

.about {
  overflow: auto;
  scroll-snap-align: start;
  position: absolute;
  width: 50vw;
  top: 110vh;
  left: 50%;
  transform: translate(-50%, 0%);

  color: white;
  background-color: rgba(0, 0, 0, 0.0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: text-top;
  text-align: left;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

.lore {
  overflow: auto;
  scroll-snap-align: start;
  position: absolute;
  width: 50vw;
  top: 160vh;
  left: 50%;
  transform: translate(-50%, 0%);

  color: white;
  background-color: rgba(0, 0, 0, 0.0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: text-top;
  text-align: left;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

#transition_bottom {
  position: absolute;
  top: 90vh;
  left: 0;
  height: 10vh;
  width: 100vw;
  color: rgba(0, 0, 0, 0.0);
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(8,8,8,1));
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(8, 8, 8, 0.0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 100, 0.3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(8, 8, 8, 0.0);
}

.about a:link {
  color: rgb(120,120,255);
  text-decoration: none;
}

/* visited link */
.about a:visited {
  color: rgb(120,120,255);
  text-decoration: none;
}

/* mouse over link */
.about a:hover {
  color: rgb(120,120,255);
  text-decoration: none;
}

/* selected link */
.about a:active {
  color: rgb(120,120,255);
  text-decoration: none;
}

#resume_button {
  border: none;
  color: white;
  background-color: rgb(120,120,255);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  width: 167px;
  transform: translate(20vw, 0%);
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;

}

.container {
  width: 50%;
  position: absolute;
  top: 15vh;
}

.block {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  padding: 2em;
  background-color: white;
  text-decoration: none;
  color: black;
}

.block img {
  width: 100%; /* adjust as needed */
  height: auto;
}

.block h2, .block p {
  text-align: center;
}

.block a {
  text-decoration: none;
  color: inherit;
}

.block {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.block:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
}

#spirit_avionics {
  background: url(../assets/stretch.png);
}
